#start{
    background-color: rgb(84, 168, 54);
    color: beige;
    margin: 30px;
    border-radius: 15px;
    height: 50px;
    width: 70px;
    font-size: medium;
    font-weight: bold ;
}
#stop{
    background-color: rgb(182, 37, 37);
    color: beige;
    margin: 30px;
    border-radius: 15px;
    height: 50px;
    width: 70px;
    font-size: medium;
    font-weight: bold ;
}